<h1>About SIMPLE-CRM</h1>

<p>Willkommen auf meiner CRM-App! Ein Customer Relationship Management (CRM) System ist eine Software, die Unternehmen
    dabei unterstützt, ihre Kundenbeziehungen zu organisieren, zu verwalten und zu verbessern.</p>

<p>Diese CRM-App basiert auf dem CRUD-Prinzip, das für Create (Erstellen), Read (Lesen), Update (Aktualisieren) und
    Delete (Löschen) steht. Hier sind die Hauptfunktionen:</p>

<ul>
    <li><strong>User erstellen:</strong> Mit unserer App können Sie neue Benutzer hinzufügen, um Kundeninformationen zu
        erfassen.</li>
    <li><strong>User anschauen:</strong> Sie können die Details der Benutzer anzeigen, um einen Überblick über Ihre
        Kunden zu erhalten.</li>
    <li><strong>User bearbeiten:</strong> Aktualisieren Sie die Informationen von Benutzern, um sicherzustellen, dass
        Ihre Daten immer aktuell sind.</li>
    <li><strong>User löschen:</strong> Bei Bedarf können Sie Benutzer aus der Datenbank entfernen.</li>
</ul>

<p>Vielen Dank, dass Sie SIMPLE-CRM verwenden!</p>