<div *ngIf="loading" class="container-progress-bar">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<h1 mat-dialog-title>Edit Address</h1>



<div mat-dialog-content>

    <div class="container-input-address-street">
        <mat-form-field class="input-address-street" appearance="outline">
            <mat-label>Street & House number</mat-label>
            <input (keyup)="checkValidation()" required [disabled]="loading" [(ngModel)]="user.street" matInput
                placeholder="">
        </mat-form-field>

    </div>

    <div class="container-input-address-city">

        <mat-form-field class="input-zip" appearance="outline">
            <mat-label>Zip code</mat-label>
            <input (keyup)="checkValidation()" required [disabled]="loading" [(ngModel)]="user.zipCode" type="text"
                matInput maxlength="10" placeholder="">
        </mat-form-field>

        <mat-form-field class="input-city" appearance="outline">
            <mat-label>City</mat-label>
            <input (keyup)="checkValidation()" required [disabled]="loading" [(ngModel)]="user.city" matInput
                placeholder="">
        </mat-form-field>

    </div>


</div>
<div class="container-btn" mat-dialog-actions>
    <button [disabled]="loading" mat-flat-button color="warn" [mat-dialog-close]="">
        Cancel
        <mat-icon>cancel</mat-icon>
    </button>
    <button [disabled]="loading || formIncomplete" mat-flat-button color="primary" type="submit"
        (click)="updateUserAddress()" [mat-dialog-close]="">
        Save
        <mat-icon>save</mat-icon>
    </button>
</div>