.container-progress-bar {
    padding: 0;
}


.container-input-names {
    display: flex;
    gap: 16px;
    padding: 4px 0;

    @media (max-width: 850px) {
        flex-direction: column;
    }



}

.container-input-birthday {
    display: flex;
    gap: 16px;
    padding: 4px 0;
}

.container-input-email {
    display: flex;
    gap: 16px;
    padding: 4px 0;
}

.input-birthday,
.input-email {
    width: 100%;
}

.container-btn {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
