<mat-form-field>
    <mat-label>Type for search</mat-label>
    <input type="string" [(ngModel)]="searchInput" matInput>
    <button *ngIf="searchInput" matSuffix mat-icon-button aria-label="Clear" (click)="searchInput=''">
        <mat-icon color="primary">close</mat-icon>
    </button>
</mat-form-field>


<mat-card>
    <table class="mat-elevation-z8">

        <tr class="first-row">
            <th>Order #</th>
            <th>Customer</th>
            <th>Status</th>
            <th>Delivery date</th>
            <th class="text-align-right">Total $</th>
        </tr>

        <ng-container *ngFor="let order of listOrders; let i = index">
            <tr #orderElement [attr.id]="i" (click)="toggleOrderElement(orderElement)">
                <td *ngIf="searchFunction(order)">{{ order.orderNumber }}</td>
                <td *ngIf="searchFunction(order)">{{ order.customer.name }}</td>
                <td *ngIf="searchFunction(order)">{{ order.status }}</td>
                <td *ngIf="searchFunction(order)">{{ convertDate(order.deliveryDate) }}</td>
                <td class="order-sum-text-right" *ngIf="searchFunction(order)">{{ order.sum | currency:
                    'USD':'symbol':'1.2-2' }}</td>
            </tr>

            <tr class="no-hover container-animation" [style.display]=" this.showOrderDetails == i ? '' : 'none'">

                <td colspan="5">
                    <div class="container-order-details">
                        <h2 class="header-line-order-details">Order Details
                            <div class="container-icons-header-line">
                                <mat-icon
                                    (click)="order.status == 'Pending' || order.status == 'Processing' ? editOrder(order) : null"
                                    color="primary"
                                    [ngClass]="{'color-grey': order.status == 'Shipped' || order.status == 'Delivered'}"
                                    [matTooltip]="order.status == 'Delivered' || order.status == 'Shipped' ? 'Not possible on this status' : ''"
                                    [matTooltipPosition]="'above'">edit</mat-icon>

                                <mat-icon
                                    [ngClass]="{'color-grey': order.status == 'Shipped' || order.status == 'Delivered'}"
                                    (click)="order.status == 'Pending' || order.status == 'Processing' ? deleteOrder(order) : null"
                                    color="warn"
                                    [matTooltip]="order.status == 'Delivered' || order.status == 'Shipped' ? 'Not possible on this status' : ''"
                                    [matTooltipPosition]="'above'">delete</mat-icon>
                            </div>
                        </h2>

                        <div class="flex-container-table-details">

                            <div class="container-order-details-positions">
                                <h3>Positions:</h3>

                                <table class="table-details">
                                    <tr class="first-row">
                                        <th>Article #</th>
                                        <th>Description</th>
                                        <th class="text-align-right">Price</th>
                                        <th class="text-align-right">Qty</th>
                                        <th class="text-align-right">Sum</th>
                                    </tr>

                                    <tr *ngFor=" let article of order.positions">
                                        <td>{{ article.itemNumber }}</td>
                                        <td>{{ article.itemDesc }}</td>
                                        <td class="text-align-right">{{ article.price | currency:
                                            'USD':'symbol':'1.2-2' }}</td>
                                        <td class="text-align-right">{{ article.amount }}</td>
                                        <td class="text-align-right">{{ article.sum | currency:
                                            'USD':'symbol':'1.2-2' }}</td>
                                    </tr>
                                </table>



                            </div>

                            <div class="container-order-details-header">
                                <h3>Customer:</h3>
                                <span>{{ order.customer.customerNumber }} - {{ order.customer.name }}</span> <br>
                                <span>{{ order.customer.street }}</span> <br>
                                <span>{{ order.customer.zipCode }} {{ order.customer.city }}</span>
                            </div>

                            <div class="contaniner-note">
                                <h3>Order notes:</h3>
                                <p>{{ order.note }}</p>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>





        </ng-container>
    </table>
</mat-card>















<button *ngIf="!inputFilterCustomer" (click)="openDialogAddOrder()" matTooltip="Add Order"
    [matTooltipPosition]="'above'" class="btn-add" mat-fab color="primary"
    aria-label="Example icon button with a delete icon">
    <mat-icon>add</mat-icon>
</button>