.btn-add {
    position: fixed;
    top: 64px;
    right: 64px;

    @media (max-width: 850px) {
        right: 4px;
        top: 60px;
    }
}

mat-form-field {
    @media (max-width: 850px) {
        max-width: 200px;
    }
}



th,
td {
    white-space: nowrap;
}

table {
    line-height: 2;
    border-collapse: collapse;

    tr {
        text-align: start;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

        &:last-child,
        &:first-child {
            border-bottom: 0;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
            cursor: pointer;
        }
    }

    td {
        padding: 4px;
    }

    th {
        text-align: start;
        font-size: 16px;
        padding: 4px;
    }
}

.table-details {
    tr {
        &:hover {
            cursor: unset;
            background-color: unset;
        }
    }
}

.no-hover:hover {
    cursor: unset !important;
    background-color: white !important;
}

.first-row {
    background-color: #3f51b5;
    //border: none;
    color: white;

    &:hover {
        background-color: #3f51b5 !important;
        //border: none !important;
        color: white !important;
        cursor: unset !important;
    }
}

h2,
h3 {
    margin: 0 0 2px;
}

.header-line-order-details {
    display: flex;
    align-items: center;
    gap: 12px;
}

.container-icons-header-line {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;

    mat-icon {
        cursor: pointer;
        transition-duration: 120ms;

        &:hover {
            scale: 1.1;
            transition-duration: 120ms;
        }

    }


}




.flex-container-table-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    gap: 32px;
}

.container-order-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}


.order-sum-text-right,
.text-align-right {
    text-align: end !important;
}


.container-animation {
    animation: openDetails 0.3s ease-out 0s 1 normal forwards;
    border-bottom: 2px solid black !important;
}

@keyframes openDetails {
    0% {
        opacity: 0;
        transform: rotateX(-100deg);
        transform-origin: top;
    }

    100% {
        opacity: 1;
        transform: rotateX(0deg);
        transform-origin: top;
    }
}


.color-grey {
    color: grey !important;
    cursor: not-allowed !important;
    scale: unset !important;

}



@media (max-width: 550px) {
    .icon-edit-delete {
        width: 40px;
        height: 40px;
        font-size: 40px;
    }


    .hide-on-mobile {
        display: none;
    }


    th,
    td {
        white-space: unset;
    }

    th {
        font-size: 12px !important;
    }

    td {
        font-size: 12px !important;
    }



}

@media (min-width: 550px) {
    .show-on-mobile {
        display: none;
    }

}






:host-context(.styles-for-customer-details) {
    .hide-on-mobile-customer-detail {
        @media (max-width: 550px) {
            display: none;
        }
    }

    td {
        @media (max-width: 550px) {
            font-size: 10px;
        }
    }

    th {
        @media (max-width: 550px) {
            font-size: 12px;
        }
    }


}