.color-red {

    color: red;

    input {
        color: red;
    }

    mat-label {
        color: red;
    }
}


.container-progress-bar {
    padding: 0;
}


.container-input-names {
    display: flex;
    gap: 16px;
    padding: 4px 0;
    margin-bottom: 16px;
}

.container-input-birthday {
    display: flex;
    gap: 16px;
    padding: 4px 0;
}

.container-input-address-street {
    display: flex;
    gap: 16px;
    padding: 4px 0;
}

.container-input-address-city {
    display: flex;
    gap: 16px;
    padding: 4px 0;
}

.container-input-email {
    display: flex;
    gap: 16px;
    padding: 4px 0;
}

.input-address-street,
.input-birthday {
    width: 100%;
}

.input-zip {
    width: 30%;
}

.input-city {
    width: 70%;
}

.container-input-email-phone {
    display: flex;
    gap: 16px;
    padding: 4px 0;
}

.input-c-number {
    width: 40%;
}

.input-c-name {
    width: 60%;
}

/* .input-infotext {
    display: flex;
    gap: 16px;
    padding: 4px 0;
} */

.container-input-status-infotext {
    display: flex;
    gap: 16px;
    padding: 4px 0;
}

.input-status {
    width: 40%;
    height: fit-content;
}

.input-infotext {
    width: 60%;
}


@media (max-width: 550px) {

    .container-input-names,
    .container-input-email-phone,
    .container-input-address-city,
    .container-input-status-infotext {
        flex-direction: column;
        gap: 0;
    }

    .input-c-number,
    .input-c-name,
    .input-zip,
    .input-city,
    .input-status,
    .input-infotext {
        width: unset;
    }

    .container-input-names {
        margin-bottom: 0;
    }

    .input-c-number {
        margin-bottom: 24px;
    }
}