.mat-drawer-container {
    height: 100vh;
}

.menu-icon {
    cursor: pointer;
}

.sidenav {
    width: 300px;

}

.logo-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 0 16px;
    min-height: 56px;
    display: flex;
    align-items: center;
    background-color: lightgray;


    img {
        max-width: 75%
    }


}

mat-toolbar,
mat-toolbar-row {
    min-height: 57px;
    height: 57px;
}


mat-toolbar-row {
    display: flex;
    align-items: center;
    gap: 8px;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        padding: 0 16px;
        height: 48px;
        display: flex;
        align-items: center;
        gap: 16px;
        cursor: pointer;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

        &:focus {
            outline: none;
        }

    }
}

.container-router {
    padding: 16px 56px;
}