<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">

    <div class="logo-container">
      <img class="img-logo" src="../assets/img/logo.png" alt="">
    </div>

    <div class="container-drawer-content">
      <ul>
        <li routerLinkActive="active" routerLink="dashboard"><mat-icon>dashboard</mat-icon>Dashboard</li>
        <li routerLinkActive="active" routerLink="user"><mat-icon>perm_identity</mat-icon>Users</li>
        <li routerLinkActive="active" routerLink="notes"><mat-icon>note</mat-icon>Notes</li>
        <li routerLinkActive="active" routerLink="articles"><mat-icon>article</mat-icon>Articles</li>
        <li routerLinkActive="active" routerLink="customers"><mat-icon>group</mat-icon>Customers</li>
        <li routerLinkActive="active" routerLink="orders"><mat-icon>sell</mat-icon>Orders</li>
        <li routerLinkActive="active" routerLink="datamanagement"><mat-icon>storage</mat-icon>Data Management</li>
      </ul>


      <div class="container-imprint-privacy">
        <ul>
          <li routerLink="help"><mat-icon>help</mat-icon>About</li>
          <li routerLink="imprint"><mat-icon>policy</mat-icon>Imprint / Privacy Policy</li>
        </ul>

      </div>


    </div>



  </mat-drawer>

  <div class="container-sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon class="menu-icon" mat-button (click)="drawer.toggle()">menu</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="container-router">
      <router-outlet></router-outlet>
    </div>


  </div>
</mat-drawer-container>

<app-intro></app-intro>