<div class="container-delete-user">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Delete supplier</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Do you want to delete this supplier?</p>
            <h2> --> {{ supplier.name }} <-- </h2>
                    <mat-divider></mat-divider> <br>
        </mat-card-content>

        <mat-card-actions class="container-btn">
            <button mat-flat-button mat-button [mat-dialog-close]="" color="primary">
                Cancel
                <mat-icon>cancel</mat-icon>
            </button>
            <button (click)="deleteSupplier()" [mat-dialog-close]="" mat-flat-button color="warn">
                Delete
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>