<div class="container-articles">


    <table class="mat-elevation-z8">
            
     <tr>
        <th>Item Number</th>
        <th>Item Description</th>
        <th>Price</th>
        <th>Category</th>
        <th>Supplier</th>
        <th>Status</th>
     </tr>


     <tr *ngFor="let article of listArticle">
        <td>{{ article.itemNumber }}</td>
        <td>{{ article.itemDesc }}</td>
        <td>{{ article.price }}</td>
        <td>{{ article.category }}</td>
        <td>{{ article.supplier }}</td>
        <td>{{ article.status }}</td>

     </tr>






    </table>




</div>



<button (click)="openDialog()" matTooltip="Add article" [matTooltipPosition]="'above'" class="btn-add" mat-fab
    color="primary" aria-label="Example icon button with a delete icon">
    <mat-icon>add</mat-icon>
</button>