<mat-form-field>
    <mat-label>Type for search</mat-label>
    <input type="string" [(ngModel)]="searchInput" matInput>
    <button *ngIf="searchInput" matSuffix mat-icon-button aria-label="Clear" (click)="searchInput=''">
        <mat-icon color="primary">close</mat-icon>
    </button>
</mat-form-field>


<mat-card>

    <table class="mat-elevation-z8">

        <tr class="first-row">
            <th>Item Number</th>
            <th>Item Description</th>
            <th>Price</th>
            <th>Category</th>
            <th>Supplier</th>
            <th>Status</th>
            <th></th>
        </tr>

        <ng-container *ngFor="let article of listArticle">
            <tr>
                <td *ngIf="complexSearchFunction(article)">{{ article.itemNumber }}</td>
                <td *ngIf="complexSearchFunction(article)">{{ article.itemDesc }}</td>
                <td *ngIf="complexSearchFunction(article)">{{ article.price }}</td>
                <td *ngIf="complexSearchFunction(article)">{{ article.category }}</td>
                <td *ngIf="complexSearchFunction(article)">{{ article.supplier }}</td>
                <td *ngIf="complexSearchFunction(article)">{{ article.status }}</td>
                <td *ngIf="complexSearchFunction(article)">
                    <button [matMenuTriggerFor]="menuHeader" class="icon-more-options" mat-icon-button>
                        <mat-icon color="primary">more_vert</mat-icon>
                    </button>

                    <mat-menu #menuHeader="matMenu">
                        <button mat-menu-item (click)="editArticle(article)">
                            <mat-icon color="primary">edit</mat-icon>
                            Edit article
                        </button>

                        <button mat-menu-item (click)="deleteArticle(article)">
                            <mat-icon color="warn">delete</mat-icon>
                            Delete article
                        </button>
                    </mat-menu>
                </td>
            </tr>
        </ng-container>

    </table>


</mat-card>



<button (click)="openDialog()" matTooltip="Add article" [matTooltipPosition]="'above'" class="btn-add" mat-fab
    color="primary" aria-label="Example icon button with a delete icon">
    <mat-icon>add</mat-icon>
</button>