.btn-add {
    position: fixed;
    top: 64px;
    right: 64px;
}

mat-card {
    margin-bottom: 8px;
    padding: 0 24px 4px 0;
}




.container-notes {
    overflow: scroll;
    position: relative;
    border: 1px dotted lightgray;
    //min-height: 80vh;
    height: 75vh;
    max-height: 75vh;
}

.icon-more-options {
    position: absolute;
    top: 0;
    right: 0;
}

.example-card {
    max-width: 240px;
}

.grabbable {
    cursor: move;
    cursor: grab;

    &:active {
        cursor: grabbing;
    }



}

