<div class="container-notes">

    <mat-card (cdkDragReleased)="endChangePosition($event, note)"  cdkDrag cdkDragBoundary=".container-notes" *ngFor="let note of listNotes" class="example-card grabbable"
        [style.transform]="'translate3d(' + note.transform1 + ', ' + note.transform2 + ', 0)'">
        <mat-card-header>
            <mat-card-title>{{ note.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p class="global-line-break-anywhere">{{ note.content }}</p>

            <span>User:</span>
            <ng-container *ngFor="let user of listUser">
                <span *ngIf="user.id == note.user">
                    {{ user.firstName }} {{ user.lastName }}
                </span>
            </ng-container>

        </mat-card-content>

        <button [matMenuTriggerFor]="menuHeader" class="icon-more-options" mat-icon-button>
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menuHeader="matMenu">
            <button mat-menu-item (click)="editNote(note)">
                <mat-icon>edit</mat-icon>
                Edit note
            </button>

            <button mat-menu-item (click)="deleteNote(note)">
                <mat-icon>delete</mat-icon>
                Delete note
            </button>
        </mat-menu>

    </mat-card>

</div>


<button (click)="openDialog()" matTooltip="Add note" [matTooltipPosition]="'above'" class="btn-add" mat-fab
    color="primary">
    <mat-icon>add</mat-icon>
</button>