<div class="container-mat-card">

    <mat-card *ngIf="dataLoaded" class="mat-card-header">
        <img src="../../assets/img/user-pic-male.png" alt="">
        <div class="user-details-header">
            <h2>{{ user.firstName }} {{ user.lastName}}</h2>
            {{ user.email }} <br>
            Birthday: {{ birthDayShow }}
        </div>

        <button [matMenuTriggerFor]="menuHeader" class="icon-more-options" mat-icon-button>
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menuHeader="matMenu">
            <button mat-menu-item (click)="editUserDetail()">
                <mat-icon>edit</mat-icon>
                Edit user
            </button>

            <button mat-menu-item (click)="deleteUser()">
                <mat-icon>delete</mat-icon>
                Delete user
            </button>
        </mat-menu>

        <button [routerLink]="['/user/']" class="icon-back-to-user" mat-icon-button aria-label="">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </mat-card>

    <mat-card *ngIf="dataLoaded" class="mat-card-content">
        <mat-card-header>
            <mat-card-title>Address</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            {{ user.street }} <br>
            {{ user.zipCode }} {{ user.city }}
        </mat-card-content>

        <button [matMenuTriggerFor]="menuAddress" class="icon-more-options" mat-icon-button>
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menuAddress="matMenu">
            <button mat-menu-item (click)="editAddress()">
                <mat-icon>edit</mat-icon>
                Edit address
            </button>
        </mat-menu>

    </mat-card>




    <!-- Template Notes for User -->
    <h2 class="h2-notes" *ngIf="listNotes.length > 0">Assigned notes:</h2>

    <mat-card *ngFor="let note of listNotes" class="example-card single-note">
        <mat-card-header>
            <mat-card-title>{{ note.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p class="global-line-break-anywhere">{{ note.content }}</p>

            <span>User:</span>
            <span *ngIf="user.id == note.user">
                {{ user.firstName }} {{ user.lastName }}
            </span>

        </mat-card-content>
        <button [matMenuTriggerFor]="menuHeader" class="icon-more-options" mat-icon-button>
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menuHeader="matMenu">
            <button mat-menu-item (click)="editNote(note)">
                <mat-icon>edit</mat-icon>
                Edit note
            </button>

            <button mat-menu-item (click)="deleteNote(note)">
                <mat-icon>delete</mat-icon>
                Delete note
            </button>
        </mat-menu>
    </mat-card>


</div>