<div class="container-mat-card">

    <mat-card *ngIf="dataLoaded" class="mat-card-header">
        <img src="../../assets/img/user-pic-male.png" alt="">
        <div class="user-details-header">
            <h2>{{ user.firstName }} {{ user.lastName}}</h2>
            {{ user.email }} <br>
            Birthday: {{ user.birthDate }}
        </div>

        <button [matMenuTriggerFor]="menuHeader" class="icon-more-options" mat-icon-button>
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menuHeader="matMenu">
            <button mat-menu-item (click)="editUserDetail()">Edit</button>
        </mat-menu>



        <button [routerLink]="['/user/']" class="icon-back-to-user" mat-icon-button aria-label="">
            <mat-icon>arrow_back</mat-icon>
        </button>



    </mat-card>

    <mat-card *ngIf="dataLoaded" class="mat-card-content">
        <mat-card-header>
            <mat-card-title>Address</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            {{ user.street }} <br>
            {{ user.zipCode }} {{ user.city }}
        </mat-card-content>

        <button [matMenuTriggerFor]="menuAddress" class="icon-more-options" mat-icon-button>
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menuAddress="matMenu">
            <button mat-menu-item (click)="editAddress()">Edit</button>
        </mat-menu>

    </mat-card>


</div>