table {

    line-height: 2;
    border-collapse: collapse;


    tr {
        text-align: start;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);


        &:last-child,
        &:first-child {
            border-bottom: 0;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
            cursor: pointer;
        }

    }

    td {
        padding: 4px;
    }

    th {
        text-align: start;
        font-size: 16px;
        padding: 4px;
    }

}

.first-row {
    background-color: #3f51b5;
    //border: none;
    color: white;
    position: sticky;
    top: 0;


    &:hover {
        background-color: #3f51b5 !important;
        //border: none !important;
        color: white !important;
        cursor: unset !important;
    }

}

mat-form-field,
mat-card {
    padding: 0 24px 0;
}






.text-align-end {
    text-align: end;
}


@media (max-width: 850px) {

    td {
        font-size: 10px;
    }

    th {
        font-size: 12px !important;
    }

    mat-card {
        padding: 0;
    }

    .hide-on-mobile {
        display: none;
    }


}


.container-add-article-to-order {
    max-height: 90vh;
}