<mat-card>
    <table>
        <tr class="first-row">
            <th>Last name</th>
            <th>First name</th>
            <th>E-mail</th>
            <th>City</th>
        </tr>

        <tr *ngFor="let user of listUser" [routerLink]="['/user/' + user.id]">
            <td>{{ user.lastName }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.city }}</td>
        </tr>

    </table>

</mat-card>


<button (click)="openDialog()" matTooltip="Add User" [matTooltipPosition]="'above'" class="btn-add" mat-fab
    color="primary" aria-label="Example icon button with a delete icon">
    <mat-icon>add</mat-icon>
</button>