<mat-form-field>
    <mat-label>Type for search</mat-label>
    <input type="string" [(ngModel)]="searchInput" matInput>
    <button *ngIf="searchInput" matSuffix mat-icon-button aria-label="Clear" (click)="searchInput=''">
        <mat-icon color="primary">close</mat-icon>
    </button>
</mat-form-field>



<mat-card>
    <table>
        <tr class="first-row">
            <th>Last name</th>
            <th>First name</th>
            <th class="hide-on-mobile">E-mail</th>
            <th>City</th>
        </tr>

        <tr *ngFor="let user of listUser" [routerLink]="['/user/' + user.id]">
            <td *ngIf="searchFunction(user)">{{ user.lastName }}</td>
            <td *ngIf="searchFunction(user)">{{ user.firstName }}</td>
            <td class="hide-on-mobile" *ngIf="searchFunction(user)">{{ user.email }}</td>
            <td *ngIf=" searchFunction(user)">{{ user.city }}</td>
        </tr>

    </table>

</mat-card>


<button (click)="openDialog()" matTooltip="Add User" [matTooltipPosition]="'above'" class="btn-add" mat-fab
    color="primary" aria-label="Example icon button with a delete icon">
    <mat-icon>add</mat-icon>
</button>