.container-dashboard {
    padding: 8px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-charts {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.single-chart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 900px;
}


.value-average-order {
    font-size: 24px;
    font-weight: bold;
}

.container-order-count-status {
    width: 75%;
    max-width: 600px;
}







/* .container-dashboard {
    display: flex;
    flex-direction: column;
    gap: 32px;
}



.chart-sales-statistic {
    //min-height: 240px;
}

.chart-order-delivery-date {
    //min-height: 240px;
    max-width: 100%;
}


.container-charts {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.container-average-oder-value {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


.value-average-order {
    font-size: 24px;
    font-weight: bold;
}

.container-order-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.container-orders-by-date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-sales-customer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
} */